.mainContainer{
    /* border: 2pt solid blue; */
    height: 100vh;
    width: 99.7%;
    display: flex;
    background-color: #d7dff3;
}

@keyframes dropDown{
    0%{
        opacity: 0;
        top: 4%;
    }
    100%{
        opacity: 1;
        top: 7%;        
    }
}

.otpPage{
    /* border: 2pt solid #95b3fa; */
    border-radius: 5%;
    height: 35%;
    width: 35%;
    position: absolute;
    display: none;
    left: 35%;
    top: 7%;
    font-family: 'Times New Roman', Times, serif;
    animation: dropDown 1s ease-in 0s;
}

.otpPageText{
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
}

.otpConfirmationStatusPage{    
    border: 2pt solid #ACC1F2;
    border-radius: 5%;
    height: 35%;
    width: 35%;
    display: none;
    position: absolute;
    left: 35%;
    top: 7%;
    font-family: 'Times New Roman', Times, serif;
    animation: dropDown 500ms ease-in 0s;
}