.mainContainer{
    /* border: 2pt solid blue; */
    height: 100vh;
    width: 99.7%;
    display: flex;
    background-color: #ABC1F2;
}
  
.leftContainer{
    /* border: 2pt solid green; */
    width: 40%;
    padding-top: 6%;
}

.chattingPicture{
    height: 80%;
    width: 80%;
}

.rightContainer{
    /* border: 2pt solid blue; */
    width: 60%;
    border-radius: 5% 0% 0% 5%;
    background-color: white;
}

.fieldsBox{
    border: 2pt solid #ABC1F2;
    display: grid;
    width: 50%;
    height: 50%;
    margin: 17% 0% 0% 30%;
    border-radius: 5%;
}

.fields{
    height: 100%;
    display: grid;
    gap: 4%;
}

.submitBox{
    /* border: 2pt solid red; */
    height: 15%;
    margin-top: 10%;
}

.submit{
    /* border: 2pt solid red; */
    width: 40%;
    height: 100%;
}

.registrationResponseMessage{
    /* border: 2pt solid red; */
    font-size: 80%;
    font-style: italic;
    width: fit-content;
    left: 66%;
    top: 25%;
    position: absolute;
    color: red;
}

.otpPage{
    /* display: none; */
}